.dashboard {
  min-height: 100vh;
  background-color: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboardTitle {
  font-size: 24px;
  font-weight: 700;
  color: #1e293b;
}
